@use "../base/variables" as *;

.beneficios {
    background-color: #f8f9fa;
    margin-top: 80px;
    padding: 80px 0;

    h2 {
        color: $color-principal;
        font-weight: bold;
    }

    h4 {
        margin-bottom: 15px;
    }

    .fs-1 {
        font-size: 3rem !important;
    }
}