.footer {
    background-color: $color-principal;
    color: white;
    padding: 30px 0;
    text-align: center;

    .redes {

        a {
            color: white;
            font-size: 2rem;
            margin: 0 12px;
            transition: .3s;
        }

        a:hover {
            color: #ffc107;
        }

    }
}