@use "../base/variables" as *;

.productos {

    h1 {
        color: $color-principal;
        font-weight: bold;
    }

    .card {
        transition: .3s ease;
    }

    .card:hover {
        transform: translateY(-8px);
    }

    .card-img-top {
        height: 250px;
        object-fit: cover;
    }
}