@use "../base/variables" as *;

.promociones {

    background-color: #fff;

    h2 {
        color: $color-principal;
        font-weight: bold;
    }

    .card {
        border: none;
        transition: transform .3s ease;
    }

    .card:hover {
        transform: translateY(-8px);
    }

    h3 {
        font-size: 3rem;
    }
}