@use "../base/variables" as *;

.servicios {

    h1 {
        color: $color-principal;
        font-weight: bold;
    }

    .card {
        transition: .3s;
        border: none;
        border-radius: 15px;
    }

    .card:hover {
        transform: translateY(-8px);
    }

    .fs-1 {
        font-size: 3rem !important;
    }

}