@use "../base/variables" as *;

.hero{
    padding: 80px 0;

    display: flex;
    align-items: center;

    h1{
        font-size:4rem;
        font-weight:bold;
        color:$color-principal;
        margin-bottom:20px;
    }

    p{
        font-size:1.3rem;
        margin-bottom:30px;
    }

    img{
        width:100%;
        border-radius:15px;
    }

    .btn{
        margin-right:10px;
    }
}